.container{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 56px 560px; 
    /* padding: 32px; */
    /* grid-template-columns: auto; */
    /* grid-auto-rows: 40px 480px 40px; */
    /* grid-template-areas: 'header' 'body'; */
}

.header{
    grid-column-start: 3;
    display: grid;
    justify-items: end;
    /* align-self: center; */
    /* grid-area: header;
    float: right; */
    /* width: 72px; */
}

.header-content{
    display: flex;
    align-self: center;
    width: 252px;
}

.body{
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 200px 80px 224px; 
    /* grid-area: body;
    display: grid; */
    /* grid-template-columns: 20% auto 20%;
    grid-auto-rows: auto;
    grid-template-areas: 'space content space2'; */
}

.space{
    grid-area: space;
}

.space2{
    grid-area: space2;
}

.content-google{
    /* padding: 80px 0px 80px 0px; */
    /* grid-area: content; */
    align-self: end;
    
}

.content-search{
    align-self: center;
}

.text-search{
    width: 100%;
    height: 32px;
    border:solid 1px #ccc;
    border-radius: 16px;
}

.content-menu{
    display: grid;
    align-self: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 148px 72px;
    grid-template-areas: 'cm1 cm2 cm3 cm4 cm5' 'cm6 cm7 cm8 cm9 cm10'; 
    /* grid-area: content; */
    
}

.icon-menu{
    background-color: blueviolet;
    height: 48px;
    width: 48px;
    border-radius: 100%;
}

.icon-profile{
    background-color: brown;
    height: 36px;
    width: 36px;
    border-radius: 100%;
}

.icon-bell{
    background-color: rgb(76, 134, 221);
    height: 24px;
    width: 24px;
    border-radius: 100%;
}

.icon-dashboard{
    background-color: rgb(76, 221, 76);
    height: 24px;
    width: 24px;
}

.cm-1{
    grid-area: cm1;
    place-self: center;
}
.cm-2{
    grid-area: cm2;
    place-self: center;
}
.cm-3{
    grid-area: cm3;
    place-self: center;
}
.cm-4{
    grid-area: cm4;
    place-self: center;
}
.cm-5{
    grid-area: cm5;
    place-self: center;
}
.cm-6{
    grid-area: cm6;
    place-self: center;
}
.cm-7{
    grid-area: cm7;
    place-self: center;
}
.cm-8{
    grid-area: cm8;
    place-self: center;
}
.cm-9{
    grid-area: cm9;
    place-self: center;
}
.cm-10{
    grid-area: cm10;
    place-self: center;
}

.menu{
    padding-top: 16px;
}

.text{
    padding: 6px;
}

.img{
    height: 92px;
    width: 272px;
}

.header-menu{
    width: 64px;
}

.header-menu2{
    width: 40px;
    padding: 4px;
}